numpy==2.0.0
matplotlib==3.9.1
pandas==2.2.2
opencv-python==4.10.0.84
datasets==2.21.0
scikit-learn==1.5.1
mplfinance==0.12.10b0
nltk==3.9.1
torch==2.5.1
torchvision==0.20.1
torch-summary==1.4.5
streamlit==1.40.2
langid==1.1.6
torchtext==0.18.0
transformers==4.47.1
accelerate==1.2.1
evaluate==0.4.3